:global {
  .ant-card {
    border-radius: 0;
    margin-bottom: 24px;
  }
}

.weather {
  &:hover {
    box-shadow: 4px 4px 40px rgba(143,201,251,.6);
  }
}

.quote {
  &:hover {
    box-shadow: 4px 4px 40px rgba(246,152,153,.6);
  }
}

.list {
  width: 90%;
}

.item {
  width: 300 ;
  float: 'left';
  color:'white';
  font-size: '20px';
}